{% extends 'base.html' %}

{% block title %}
<title>Dashboard</title>
{% endblock %}

{% block content%}
<div class="container">
  <h1>Dashboard</h1>
  <hr>

  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 style="text-align: center;" class="panel-title">
          <a data-toggle="collapse" href="#collapse1" >Subscribers
            <br>{{ subs.count }}
          </a>
            
        </h5>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Date joined</th>
              </tr>
            </thead>

            <tbody class="table-body">
              {% for sub in subs %}
              <tr>
                <td>{{ sub.first_name}} {{sub.last_name }}</td>
                <td>{{ sub.email}} </td>
                <td>{{ sub.date }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>

      </div>
    </div>
  </div>



</div>
{% endblock %}