{% extends 'base.html' %}

{% block title %}
<title>Dashboard</title>
{% endblock %}

{% block content%}

<div class="container">
  <h1>X games dashboard</h1>

  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Details
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
              </tr>
            </thead>
            
            <tbody>
              {% for sub in subs %}
              <tr>
                <td>{{ sub.first_name}} {{sub.last_name }}</td>
                <td>{{ sub.email}} </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  {% endblock %}