body {
  background-color: #000000;
  color: white;
  text-align: center;
}

.dashboard {
  margin: 54px 0 20px 0;
  border-top: 2px solid #AAAAAA;
  border-bottom: 2px solid #AAAAAA;
}

.panel-group {
  background-color:#3277AA;
  border-radius: 5px;
}

.panel-group a {
  color: white;
  text-decoration: none;
}

.table {
  color: white;
}

.table-body {
  color: rgb(206, 206, 206);
}

.first_name {
  display: inline;
}

#id_first_name {
  width: 146px;
}

.last_name {
  display: inline;
  padding-left: 4px;
}

#id_last_name {
  width: 146px;
}

.email {
  padding-top: 6px;
}

#id_email {
  width: 300px;
}

.btn-danger {
  background-color: red;
  width: 300px;
}

.social {
  padding-top: 10px;
  font-size: 30px;
}

.social span {
  padding: 5px;
}

.top img {
  position: absolute;
  height: 60px;
  width: 67.24px;
  left: 6px;
  top: 58px;
}

.top {
  margin-top: 54px;
  color: #AAAAAA;
  text-align: right;
  font-size: 50px;
  border-top: 2px solid #AAAAAA;
  border-bottom: 2px solid #AAAAAA;
  padding-right: 15px;
}

.locations {
  text-align: left;
}

.locations a {
  text-decoration: none;
  color: #EFEFEF;
  font-size: 30px;
  padding: 10px;
}

.subscribe {
  position: relative;
  border-top: 2px solid #AAAAAA;
  padding-top: 30px;
  margin-bottom: 35px;
}

section img {
  width: 380px;
  height: 207px;
}

.recent, .coming-soon {
  padding: 10px;
  margin-bottom: 15px;
}

.recent img, .coming-soon img {
  margin: 5px;
}

.modal-header {
  padding: 10px;
  border: none;
  margin: 10px;
}

.modal-content {
  color: #1f1f1f;
  background-color: #EFEFEF;
  font-size: 18px;
  text-align: center;
}

.modal-header img {
  width: 144px;
  height: 46px;
  position: absolute;
  top: 10%;
  left: 35%;
}

@media screen and (max-width:480px) {
  position: absolute;
  top: 10%;
  left: 35%;
}

.modal-body {
  padding: 20px;
}

.close {
  text-decoration: none;
  font-size: 24px;
}

.welcome {
  font-size: 24px;
}

.panel-heading .fa-plus {
  display: inline-block;
  position: relative;
}

.panel-heading {
  padding: 15px;
  margin: 10px;
}

.normal {
  font-size: 11px;
}

footer {
  padding-top: 20px;
  border-top: 2px solid #AAAAAA;
  display: flex;
  margin: 10px;
  align-self: center;
  justify-content: space-evenly;
  
}

.resources .company .social {
  width: 60px;
}

.list {
  list-style-type: none;
  text-align: left;
}

footer img {
  width: 63px;
  height: 66px;
}