body {
  background-color: #000000;
  color: white;
  text-align: center;
}

.dashboard {
  margin: 54px 0 20px 0;
  border-top: 2px solid #AAAAAA;
  border-bottom: 2px solid #AAAAAA;
}

.panel-group {
  background-color:#3277AA;
  border-radius: 5px;
}

.panel-group a {
  color: white;
  text-decoration: none;
}

.table {
  color: white;
}

.table-body {
  color: rgb(206, 206, 206);
}

.first_name {
  display: inline;
}

#id_first_name {
  width: 146px;
}

.last_name {
  display: inline;
  padding-left: 4px;
}

#id_last_name {
  width: 146px;
}

.email {
  padding-top: 6px;
}

#id_email {
  width: 300px;
}

.btn-danger {
  background-color: red;
  width: 300px;
}

.social {
  padding-top: 10px;
  font-size: 45px;
}

.social span {
  padding: 10px;
}

.top img {
  position: absolute;
  height: 60px;
  width: 67.24px;
  left: 6px;
  top: 58px;
}

.top {
  margin-top: 54px;
  color: #AAAAAA;
  text-align: right;
  font-size: 50px;
  border-top: 2px solid #AAAAAA;
  border-bottom: 2px solid #AAAAAA;
  padding-right: 15px;
}

.locations {
  text-align: left;
}

.locations a {
  text-decoration: none;
  color: #EFEFEF;
  font-size: 30px;
  padding: 10px;
}

.subscribe {
  position: relative;
}

section img {
  width: 380px;
  height: 207px;
}

.recent, .coming-soon {
  padding: 10px;
}

.recent img, .coming-soon img {
  margin: 5px;
}